<%- include('../header/header.ejs') %>
<body>
    <nav class="b-nono">
        <div class="nav-flex">
            <div class="nav-f1 nav-f22">
                <img src="https://img.icons8.com/?size=256&id=103424&format=png" alt="logo">
            </div>
            <div class="nav-f1 nav-f22">
                <a href="">Exit</a>
            </div>
        </div>
    </nav>
    <main class="m-nono">
        <div class="m-flex">
            <div class="m-flexl ccx">
                <div class="m-hj">
                    <h2 class="m-f-l">It'easy to get</h2>
                <h2>started on Airbnb</h2>
                </div>
            </div>
            <div class="m-flexl ">
                <div class="m-stap-box">
                    <div class="m-b0xs-1">
                       <div class="m-kkkk">
                        <div class="m-num">
                            <p>1</p>
                            <h3>Tell us about your place</h3>
                        </div>
                        <p class="m-po">Share some basic info,such as where it is and how </p>
                        <p class="m-po">many guests can stay</p>
                       </div>
                       <img src="https://media-hosting.imagekit.io/981277ab01874717/WhatsApp%20Image%202025-04-19%20at%2015.10.31_edde1924.jpg?Expires=1839663713&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=xP2fiWG2D5tO8fD1AO73pRlBiJ3bafc7lWkoNzFtQaZd2Di1OZL40UiZBMkazP-T6IVCUl6lIFNF1uf3IoR5oCS4kjgB6hwBXnytFftFD879b4DdMwlkK2ZYSWwmEgu122q0lOSAdZOzOYLUs-fBfPorh6Obcpmx0Pab0KSPabQjRQjNYaBMB6R59pZeLmWwoTVMSmeYk9nbY6sPaKJxMGHH08wE2P6BkLXLBYmldVE3h2RnQ~QbGUjyrXS0~Jk-qRPNMZ0FCi1KjwhqSl7ojkA8Q1j5LC13UUqRvKBHwE1wL8jCYJ4wfZL8EA9sKpqsiHzFqPp-PVLp21SUnz0Nug__" alt="">
                    </div>
                    <div class="m-b0xs-1">
                       <div class="m-kkkk">
                        <div class="m-num">
                            <p>2</p>
                            <h3>Make it stand out</h3>
                        </div>
                        <p class="m-po">add 5 or mor photos puls a title and descrition -</p>
                        <p class="m-po">we'll help you out.</p>
                       </div>
                       <img src="https://media-hosting.imagekit.io/159abbe2bcb3442c/WhatsApp%20Image%202025-04-19%20at%2015.51.33_b878a8c9.jpg?Expires=1839666364&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=M-49LSJjWuEIKT93oUzOfmgQJVUvVWz6Js33j57vHXoYXVbJA5iL1If-S35EvucBYFWKL7i7hlAJHQkyuK0sD6Cr5-J--C9aQaUaAYob6PWeJyEIIoDa3AhOmk3Jd46En6FUr6bDc-wi6NlsC7w2bMRbI-qa-Con2uRfbJLTcLjAvO-DpIci0Q0B~vf-QLYA-7xTPyHcuzxVZyOEfqLszc0cwzyludaLux7jI8cDyIxY9r0cKyoRhJVZg2xj437ery2UbCl~vUKPU~F7-xVdz7ALW-1EDKkbuqGjd2hDxuAjbsHzhsGsckVEThnpCwE~~aNpQ9DybF0POLc7adMryw__" alt="">
                    </div>
                    <div class="m-b0xs-1">
                       <div class="m-kkkk">
                        <div class="m-num">
                            <p>3</p>
                            <h3>Finish up and publish</h3>
                        </div>
                        <p class="m-po">Choose if you'd like to start an eprerienced guest,</p>
                        <p class="m-po">set a starting price and publish your listing</p>
                       </div>
                       <img src="https://media-hosting.imagekit.io/eb42b53d8aa14d79/WhatsApp%20Image%202025-04-19%20at%2016.01.42_0655f813.jpg?Expires=1839666714&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=prtEm~3YeCeAe8vGXvh5Hko99AqsXJCwfCyngO-NBtGxUUEZcdEU6xGFYsjtHWaf~5PZbJxWzipMw0GD6ThwksAohs4aCc9xeYNKB5UAEBgkLctdMux8Cpm2EP9v1orK~sZl5Q~m3q77RUWXfHaB55nSycubpJ936Nr23l3AYnWtVQHzyTu9IDHAVOKn-jxJnn9SllGp50Z9~pVR9fjRaM3~5~bJtRx1eW~IA8VY9LMiM0KxYrFzvp650YcF0CtwT5WKqNhKMGF1Dn0321Kv4Zn3aw~bTktj5LZgM1AdGT~9~vy~GxZljYHps3atY6yf0tQYFS0e2e~07mpEGdlB3g__" alt="">
                    </div>
                  
                    </div>
                
            </div>
        </div>
    </main>
    <footer class="f-foot">
        <div class="f-flex">
            <div class="s-com">
                
            </div>
            <div class="s-com">
                
            </div>
            <div class="s-com">
                
            </div>
        </div>
        <div class="st-bnt">
            <div class="s-bnt1">
                <a href="/listing/about-your-plays" class="del-link">Get started</a>
            </div>
        </div>
    </footer>
    <script src="/animetion.js"></script>
</body>