<footer class="f-foot">
    <div class="f-flex">
        <div class="s-com">
            <div class="s-line">
                <div class="s-line-1">

                </div>
            </div>
            <div class="s-line">
                <div class="s-line-2">

                </div>
            </div>
            <div class="s-line">
                <div class="s-line-3">

                </div>
            </div>
            <div class="s-line">
                <div class="s-line-4">

                </div>
            </div>
            <div class="s-line">
                <div class="s-line-5">

                </div>
            </div>
            <div class="s-line">
                <div class="s-line-6">

                </div>
            </div>
            <div class="s-line">
                <div class="s-line-7">

                </div>
            </div>
        </div>
        <div class="s-com">
            <div class="s-line2">
                <div class="s-line2-1"></div>
            </div>
            <div class="s-line2">
                <div class="s-line2-2"></div>
            </div>
            <div class="s-line2">
                <div class="s-line2-3"></div>
            </div>
            <div class="s-line2">
                <div class="s-line2-4"></div>
            </div>
            <div class="s-line2">
                <div class="s-line2-5"></div>
            </div>
        </div>
        <div class="s-com">
            <div class="s-line3">
                <div class="s-line3-1"></div>
            </div>
            <div class="s-line3">
                <div class="s-line3-2"></div>
            </div>
            <div class="s-line3">
                <div class="s-line3-3"></div>
            </div>
            <div class="s-line3">
                <div class="s-line3-4"></div>
            </div>
        </div>
    </div>
    <div class="st-bnt">
        <div class="bnt-next ">
            <a href="/listing/structure" class="del-link  s2-bnt-next">Next</a>
        </div>
    </div>
</footer>
<script>
   
</script>