<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
    <main class="m-nono s-5main">
        <div class="st-5-main">
            <div class="s5-ctn wewe-3">
                <div class="st-5hading">
                    <h1>What kind of bathroom are available to guest?</h1>

                </div>
                <form class="s5-form" action="/bathrooms" method="post" id="my-from">

                    <div class="s5-gust-box  s-6-uie">
                        <div class="s5-gust-name n-we">
                           <div>
                            <p class="s6-1p">Private and attached</p>
                            <p class="s6-2p">It's connected to the guest's room and is just for them.</p>
                           </div>
                        </div>
                        <div class="s5-gust-num">
                            <div class="s5-gust-plas plas1">
                                <i class="ri-subtract-line"></i>
                            </div>
                            <div class="s5-gust-totel">
                                <!-- <div class="input-cover">

                                </div> -->
                                <input type="number" id="Guests" name="PrivateAndAttached">
                                <div class="input-cover" >

                                </div>
                            </div>
                            <div class="s5-gust-mines mines1">
                                <i class="ri-add-line"></i>
                            </div>
                        </div>
                    </div>
                    <div class="s5-gust-box gp-e-w">
                        <div class="s5-gust-name n-we">
                            <div>
                             <p class="s6-1p">Dedicated</p>
                             <p class="s6-2p">It's private, but accessed vai a shared space such as a hallway.</p>
                            </div>
                         </div>
                        <div class="s5-gust-num">
                            <div class="s5-gust-plas plas2">
                                <i class="ri-subtract-line"></i>
                            </div>
                            <div class="s5-gust-totel">
                                <!-- <div class="input-cover">

                                </div> -->
                                <input type="number" id="Bedrooms" name="Dedicated">
                                <div class="input-cover">

                                </div>
                            </div>
                            <div class="s5-gust-mines mines2">
                                <i class="ri-add-line"></i>
                            </div>
                        </div>
                    </div>
                    <div class="s5-gust-box h-po-w">
                        <div class="s5-gust-name n-we">
                            <div>
                             <p class="s6-1p">Shared</p>
                             <p class="s6-2p">It's shared with other people</p>
                            </div>
                         </div>
                        <div class="s5-gust-num">
                            <div class="s5-gust-plas plas3">
                                <i class="ri-subtract-line"></i>
                            </div>
                            <div class="s5-gust-totel">
                                <!-- <div class="input-cover">

                                </div> -->
                                <input type="number" id="Bed" name="Shared">
                                <div class="input-cover">

                                </div>
                            </div>
                            <div class="s5-gust-mines mines3">
                                <i class="ri-add-line"></i>
                            </div>
                        </div>
                    </div>

                   
                    
                </form>
            </div>
        </div>
    </main>


    <%- include('stepFooter.ejs') %>
    <script src="/step6Animetion.js"></script>
</body>