<%- include('../header/header.ejs') %>

<body>
    <%- include('createNav.ejs') %>
    <main class="s17-main">
        
    </main>
    <%- include('stepFooter.ejs') %>
    <script src="/step16Aimetion.js"></script>
</body>