<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
    <main class="m-no">
        <div class="s-1-flex">
            <div class="s-f-p1">
                <div class="s-had">
                    <p class="sp-1">Step 2</p>
                    <h2>Make your place stand out</h2>
                    <p class="sp-about">In this step,you'll add some of the amenities your place </p>
                    <p class="sp-about"> offers,plus 5 or more photos. Then you'll vcreate a title and</p>
                    <p class="sp-about"> description.</p>
                </div>
            </div>
            <div class="s-f-p2">
                <img src="https://media-hosting.imagekit.io/e6a4ad7ff8e44e85/WhatsApp%20Image%202025-04-19%20at%2018.21.47_11d41a2f.jpg?Expires=1839681672&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=KIFK6FfqD~YzwwePtWkzsNP92wVcYLV2QaINC-YhJgni4wO7aRpiIqP71Nqcv6w1SGhrRSmsFcDONoljEghNiGMD-rWMxf-Cp4cuaeO3i6C3-yAkZskb0jX24vfSmgVpvz2iC1QueYsABOe2vpUqDghymHcWOcIhBfLWU00T3cznzD2bVBY3dTCdtuJzGWnXJZzZV7D4HUe3ojpx11HTrpzyDQZJUkJ5azNhi5meci5-oxl-4hy1MpTwJUxwfTC9cNpCr2CET47~R0FEWXFXnlSu~n~LLa5hbzlqdQj2oZx9H27NwBcoD-3YQt6DNB6mtbHkhB82LR0XckblavoOzQ__" alt="">
            </div>
        </div>
    </main>
    <%- include('stepFooter.ejs') %>
    <script src="/step8Animation.js"></script>
</body>