<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
<main class="m-nono">
    <div class="s3-main">
        <div class="s3-w-b">
            <h1>Decide how you'll confirm resevation</h1>
            <div class="ser a-room " data="Approver">
                <div class="s3-titel">
                    <h3>Approver or decline requests</h3>
                    <p>Guests must ask if can book.</p>
                </div>
                <div class="s3-img">
                    <img  style="height: 150%;" src="https://media-hosting.imagekit.io/76a1564b9ad64426/ChatGPT_Image_Apr_25__2025__12_15_01_PM-removebg-preview.png?Expires=1840171713&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=YqzhXqxHz2h0y0-EUSvMFmz7r7lISoC2NHFj0hmKeq6Mtpxr8kiNZyuEVXB8ChWfBE32md-Jwo7uUEWPFp8Cs1OuwZ-P5WqMfRN~Wb742c4rUrNQnEPUZJQLhU-HNcR~a5R73iPrKtV53qWUUv9XwKBXiL-zsJqXqzMtfou7CPObao-IItYrBCREzLRtl1e8tlzU8001yIXi-JhY1SBjmlTDx1oH8QaA7W8TUyrUi~LL~Ys-2DjeV4lKvGfn-6ym47laju5crXw~qo5W7xJLIxLQTENBfSLMuzvOH~2P4Q~K2qVYrvW146ak2Z8L7QG-FfeMUzibYw-WxqpcWqEgAw__" alt="">
                </div>
            </div>
            <div class="ser romm2" data="not-Approver">
                <div class="s3-titel">
                    <h3>Use Instant Book</h3>
                    <p>Guest can book automatically.</p>
                </div>
                <div class="s3-img">
                    <img style="height: 150%;" src="https://media-hosting.imagekit.io/ae5316702af34210/ChatGPT_Image_Apr_25__2025__12_11_22_PM-removebg-preview.png?Expires=1840171704&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=s01e8lGeWL01CwoLcsHJ8wWb9~fCAO95r3DiNN-~9d6gX1ytgSh0fw0oYY4fprCqV1SuwF5qj13IEL~~Q51ds3tG8aGzY352k62cZfeYFWh5-ffCZsfhywqHsIqOzEDHtnNgoo95HaK1pMwjUtWLa1IbmGYjlNmLbgjxtnVQtwy3y6JnMcPTjh3dF8HffXC6dxGBLVMUoFmohMb878CIejIFeFEO2mOBTTBPr9kMN2cmzgDa40DvdjZPnCaQ9Nbf6CmOihT9lvO8mvUbxxc~RQPjUO1HiuMCHU-k97tm7AGEhUVyh4KjxJpbZpwmEXISIT4PePtrw7RGxgBN78KgyA__" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('stepFooter.ejs') %>
<script src="/step14Animetion.js"></script>
</body>


