<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
    <main class="m-nono s-109">
        <div class="s10-main">
            <div class="s10-titel-box">
                <h1>
                    Create your description
                </h1>
                <p>Share what makes your place special.</p>
                <form class="s-11-71" action="/listingData/description" method="post">
                   <textarea name="description" id="" cols="30" rows="10"></textarea>
                </form>
                <div class="yuio">
                    <i class="ri-error-warning-line  opi"></i><p class="title-count" id="wordCount"></p>
                </div>
            </div>
        </div>
    </main>


    <%- include('stepFooter.ejs') %>
    <script src="/step11Animetion.js"></script>
</body>