<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
    <main class="m-nono s-5main">
        <div class="s-flex-2 s7-main">
            <div class="s2-main  s7uu-h">
                <h1 class="s7-hading">Who else might be there?</h1>
                <p class="s7-para">Guests need to know whether they'll encounter other people during their stya.</p>
                <div class="s-grid  s7-grid">
                </div>
                <p class="s7-last">
                    We'll show this information on your listing and in search results.
                </p>
            </div>
        </div>
    </main>
    <%- include('stepFooter.ejs') %>
    <script src="/step7Animation.js"></script>
</body>