<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
<main class="m-nono">
    <div class="s3-main">
        <div class="s3-w-b">
            <h1>Decide how you'll confirm resevation</h1>
            <div class="ser a-room " data="Approver">
                <div class="s3-titel">
                    <h3>Approver or decline requests</h3>
                    <p>Guests must ask if can book.</p>
                </div>
                <div class="s3-img">
                    <img src="https://media-hosting.imagekit.io/4573627e74c0407a/WhatsApp%20Image%202025-04-20%20at%2016.28.40_4abb95f4.jpg?Expires=1839760284&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=u9SHr5TCHjbonUG-YiSmYzvVh1AQR6KzL0IBYDqNN94U6vSwetGPkZCobASzFYMu~zxLqWg-LDH9srlRTvGnNyRSn8jfOviaOWFcpgbRihFmNsgL~suIZZ-K91R~jGt~-egWdxZQdn7TgdMA4TqwN6C4IXT3WXpV4w0uR~h2Kf2Djqzb~MhQp5ScMloREtwGpCufsJ7aUVyTYugCEx6rmRiL8mANjDKfjsZHe48~B9J2ewq9cqwRwSt0Ecofl4wUlgTM~fO~-wUcBjMji~oz4epOF1-QS9x4MYfpzxilPKh8ThDd9omU65ctIrPqXDELcNEMb-bFVv8pv1kiCuiosg__" alt="">
                </div>
            </div>
            <div class="ser romm2" data="not-Approver">
                <div class="s3-titel">
                    <h3>Use Instant Book</h3>
                    <p>Guest can book automatically.</p>
                </div>
                <div class="s3-img">
                    <img src="https://media-hosting.imagekit.io/2db5126cca2e48df/WhatsApp%20Image%202025-04-20%20at%2016.22.23_e602c03a.jpg?Expires=1839760292&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=uoEZ4mZnAWkNWzmuNo6KLENL8ziGmpwMqMgkWzPWbS7W7kyaRUejZh4vPhzd0SVtbVpjde7svxPVclGHJ19U-qr-G17tpIHVA7xar6pGJEDn-bqqjX9gjI5JgU9fLLJ2KnXliZxz7lpkK~ye0uX2eg3kDBkLHcC7v-oGZHYlx44p48~5OBDsJSLYmGC58NRr9yHPTFUdSXuaNHKWJhp82Abkv5FYUX~EagkNl5IcPanDNJrOk3Xh6aAsMSCc-9pQ37tSN9nOCAE~7PP6dTYU5v-WGwfO0QCgC8M-wfHiulHYgq3829shlNHU4A1HY11VpNrQomMQW7DYKduBiJqOVQ__" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('stepFooter.ejs') %>
<script src="/step14Animetion.js"></script>
</body>


