<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
    <main class="m-no">
        <div class="s-1-flex">
            <div class="s-f-p1">
                <div class="s-had">
                    <p class="sp-1">Step 3</p>
                    <h2>Finish up and publish</h2>
                    <p class="sp-about">Finally,you'll choose booking setting, set up pricingand publish your</p>
                    <p class="sp-about">listing.</p>
                </div>
            </div>
            <div class="s-f-p2">
                <img src="https://media-hosting.imagekit.io/be452aca260e4dc0/WhatsApp_Image_2025-04-24_at_15.51.55_1604efad-removebg-preview.png?Expires=1840127332&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=KUKiJxlpRPFNFOZK~21cPRfwD0Vjx~J0p~o-O7Q6N77J4SD8-rSSEIFMDU-WwQ45r7ugZ-m-0SZS1yWBp0h92dWblIJGQKbBLNOFn2YqTEcxWZnL8ClCuE3I9~owmv4i9U8zfAPErq9m4LmVB~Jn141xMOlCPY6wbypb~Ewf~uG3grRZaBaTjyQz5HHriQRwgFiKkxlWTE13Y9XnoC143H4yyiUGFB7NyMQ5IrqleN-etJlm0gnT4zBb0lBc7r69sYFOrcpIWRqtkFcJdI7hV5Gv990LOlcvhwHwZ6gTdLXXqKyhz6g6BDzy~4VEFColKZQsvewxfuedErJPwwebcA__" alt="">
            </div>
        </div>
    </main>
    <%- include('stepFooter.ejs') %>
    <script src="/step13Animation.js"></script>
</body>