<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
    <main class="m-no">
        <div class="s-1-flex">
            <div class="s-f-p1">
                <div class="s-had">
                    <p class="sp-1">Step 1</p>
                    <h2>Tell us about your place</h2>
                    <p class="sp-about">In this step, we'll ask you which type of property you have and if </p>
                    <p class="sp-about">guests will book the entire place or just a room. Then let us know the</p>
                    <p class="sp-about"> location and how many guests can stay.</p>
                </div>
            </div>
            <div class="s-f-p2">
                <img src="https://media-hosting.imagekit.io/e6a4ad7ff8e44e85/WhatsApp%20Image%202025-04-19%20at%2018.21.47_11d41a2f.jpg?Expires=1839681672&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=KIFK6FfqD~YzwwePtWkzsNP92wVcYLV2QaINC-YhJgni4wO7aRpiIqP71Nqcv6w1SGhrRSmsFcDONoljEghNiGMD-rWMxf-Cp4cuaeO3i6C3-yAkZskb0jX24vfSmgVpvz2iC1QueYsABOe2vpUqDghymHcWOcIhBfLWU00T3cznzD2bVBY3dTCdtuJzGWnXJZzZV7D4HUe3ojpx11HTrpzyDQZJUkJ5azNhi5meci5-oxl-4hy1MpTwJUxwfTC9cNpCr2CET47~R0FEWXFXnlSu~n~LLa5hbzlqdQj2oZx9H27NwBcoD-3YQt6DNB6mtbHkhB82LR0XckblavoOzQ__" alt="">
            </div>
        </div>
    </main>
    <%- include('stepFooter.ejs') %>
</body>