<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
    <main class="m-nono">
       <div class="s12-main">
        <div class="s12-cnter">
            <div class="s12-main-hading">
                <h1>Next, let's describe your hotel</h1>
                <p class="parta">Choose up to 2 highhights. We'll use these to get your decription started.</p>
            </div>
            <div class="s-grid-s12">
              <div class="gir-boxs121" data="Charming">
                <div class="boximgs12">
                    <img src="https://media-hosting.imagekit.io/3d8ec426e7b94597/WhatsApp_Image_2025-04-24_at_14.21.07_3febff9e-removebg-preview.png?Expires=1840118122&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=w~Jgcew133hMH4wn322~u9DbB-GGp37nY-p~tfdoCj~XmE8AnyXE~AoHGR8qyanhlMUS7uxR7ooqFM2TDnJNBC3onVV4MiB23RleBf~KkKV0yateYl6zrEg5~9H~7yeSSYmpUTfUwkxLLAfS1rj-uhDnNHPQ0C97nYrRwVUMsfGMR3BvgQoq8bRDuPkQzuYaVve2K7Xtap4SrK~KbyTVG7nh3EUOUv5qcsA6sEya~JAfn~InVfW3LksOmZQyiqaCndvzdHrEE1IT5MHUw68-cWkA3nwMRAeJgcPf1nFLa~OXjUWV88vamaYwALQJHp3lcfK6LIhMIaxDN2ONb6SK0w__" alt="">
                </div>
                <p>Charming</p>
              </div>
              <div class="gir-boxs121 wibth2" data="Hip">
                <div class="boximgs12">
                    <img src="https://media-hosting.imagekit.io/dc1591f6f8db4c79/WhatsApp_Image_2025-04-24_at_14.21.37_9d6c43d5-removebg-preview.png?Expires=1840118429&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=GtsEdw3gm9trTH-sD1Yer7xkg7VRXZp-coxE~Sn1MWIdJax2-VONRBJr2qcJ844eAiuJJ9HXL5B9geJv1VFPrv~FOVdZ2oaCm9H4gUhMHzutJb64WAN20n8FVnkUrL2c1VAXkZMlGia2oxyPBl5rnBl86BExNAOlqd0HEmCV4GA52y8R46RZXiwlKVxqwnw9~vswR8I5NUPFXCeWpNtn7VzLPiuQZpNY7UssvZY7L4wGUhaiZHZA-Pql7T0wI8EnShKqNeLYa84W-aA3vW5O4i5UlmrN1PyyiSlfUpGkpR-foVC-AYEYYrdXHwa6qCAsjVh9Zfev37oDkULc-J4fag__" alt="">
                </div>
                <p>Hip</p>
              </div>
              <div class="gir-boxs121 wibth3" data="Stylish">
                <div class="boximgs12">
                    <img src="https://media-hosting.imagekit.io/cd2eb3a6fde5478f/WhatsApp_Image_2025-04-24_at_14.22.15_95e36ba0-removebg-preview.png?Expires=1840118764&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Y27i~YtV82ndaENEkzkovA1ctx24HseEHSiY1OAPmuTBWFMfmi160zzO40d7eSnuzoTfjBNXPaepQOUjCqSBjdHVI6~9PQf9G4WjhKmKJFD-VLHmxmQx~u9ny5ee~qC3v3~WO7P67W~9CfzG0aS7sYu4i3Wc2KGWAvjOGBXcWYFR7hhQeRKPmHKsl4p3KOvp~6EcoaZZn3OWl1nBdgGjzkKsIHK3YUgnDZ7hRH524U~iDyRpxRJ5lh0fj18K8jRwDyKb9yUl5XNGY9QatQ06z6Pf8YLHjHJLk0bsmAhIZxpc9p-sJX3GpcDL~4sX1xZNGbcuNSYp1Ha93PrmcamzXg__" alt="">
                </div>
                <p>Stylish</p>
              </div>
              <div class="gir-boxs121 wibth4" data="Upscale">
                <div class="boximgs12">
                    <img src="https://media-hosting.imagekit.io/09f5486e402e4e00/WhatsApp_Image_2025-04-24_at_14.22.40_4412787b-removebg-preview.png?Expires=1840118962&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=atFR4Evi~Z8SW7~GvqhW~fddh3oUF8~YVwJc6dPryM9zA4zFuv5iGHbsVT9jj8mpcA4Dnt~O1axyShZi6fSQAZSagtzh5D-a63rha8tTsgzTnPJLy1oVedXkty7w8Gsos8Z1-xSeAneXBs8Kx2VJziTAImRclr8HjsrUwwp2TYVK0dDiv6VKY9gYrMAX-qJXXrexUXRnVFP2YdUrkezwghSn0RNKlWPoI7qveRsfjO00y~IAPFDqYD5LKMUyh7MVO8Q4sQd5XoXVmzZ0tOVydS38GpCWwvfcvc7S0DYmSlXD5oqZjy5fdXkldhRwJUxkL4pddM01K0t4tJbPetHkfA__" alt="">
                </div>
                <p>Upscale</p>
              </div>
            </div>
            <div class="s-grid-s12 huyi">
              <div class="gir-boxs121 wibth5" data="Central">
                <div class="boximgs12">
                    <img src="https://media-hosting.imagekit.io/85bf33c0a6184e76/WhatsApp_Image_2025-04-24_at_14.22.54_daf3419c-removebg-preview.png?Expires=1840120420&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=DGs-Sx9l~Y391HCyOhcVSbTHsvthysbVS5mDSTt8ssnepG6UbUrqf370paQaLYGWz4sgD8-bm7TbYM1exIi3YoMvzF5oBUcGQyAUcUSvQMAQNfh2hf~TmDFEkB-fuvax-qT9JnIpF8L5Co1EiNAa8ybkjjvyFkoXZveETmf1X0~XEsBkjfuPOD-MKy1uuhv0f9sVqaXVYi2mXagjkunSJXjK7obvJiO4RwCU1kymHzil~OQ7r6llFHvREKY8asvqp257YpWDtPJxJVilZ3-9iZ8ei6jU0aoAPusucOv1d78Am82XC8W4aXrU~CFERGiTwW4qz2dEva-UM9IuQEdiyg__" alt="">
                </div>
                <p>Central</p>
              </div>
              <div class="gir-boxs121 wibth6 " data="unique">
                <div class="boximgs12">
                    <img src="https://media-hosting.imagekit.io/9052b6e767ef42ef/WhatsApp_Image_2025-04-24_at_14.38.13_737550a5-removebg-preview.png?Expires=1840120598&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=BqjlGQ5vvFdC3jS6YSsNh2XveBwD4Q9H3VZqBG08fyeokk-e2aWdeg~RSvUZREA3Y7UwpDUwNB8v2kHMzcj7nbnq2kb5h8KZv8HdB54vMTSjJRGULyM~UNiat15DknQPoWcHEFTFVmAVZcP1DbXjZ9gaoju-vMlnRH3vKzs36Y950n8U-ZIZhpE2T80eXCKbDOV-Lz2QMDvcMFMdWtJVHmy2pY9nAbKn4i3K~MIPYvuSq7I5uzzmo0CN3oF95CA1SHRrTqqVHuYhzsQZA6P1uRChtOlkgEqq75d851DG6lTbPsByLYgJ3QB-G90GaWD28b2oLWi3sDgGwdubJXEm2Q__" alt="">
                </div>
                <p>unique</p>
              </div>
            </div>
        </div>
       </div>
    </main>


    <%- include('stepFooter.ejs') %>
    <script src="/step12Animetion.js"></script>
</body>