<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
    <main class="m-nono s-5main s9-maina">
        <div class="s-flex-2 s7-main">
            <div class="s2-main  s7uu-h s9-fgs ">
                <h1 class="s7-hading">Tell guests what your place has to offer</h1>
                <p class="s7-para">You can add more amenities after you publish your listing.</p>
                <div class="s-grid  s7-grid box9-griad">
                </div>
                <p class="s7-last gtyu">
                    Do you have any standout amenities?.
                </p>
                <div class="box9-griad23 " id="ddfe">
                </div>
            </div>
        </div>
    </main>

    <%- include('stepFooter.ejs') %>
    <script src="/step9Animation.js"></script>
</body>