<%- include('../header/header.ejs') %>

    <body>
        <%- include('createNav.ejs') %>
            <main class="m-nono tre">
                <div class="s4-main">
                    <div class="s4-location">
                        <div class="s4-location-titel">
                            <h1>Confirm your address</h1>
                            <p>Your address only shared with gursts after they've made a reservation</p>
                        </div>

                        <form action="/listingData/location" method="post" id="my-from">

                           <div class="inp-flex">
                             <div class="s3-loca-s">
                                <label class="label" for="country">Country/region</label>
                                <select id="country" name="country">
                                    <option value="">-- Select a Country --</option>
                                    <option value="Afghanistan">Afghanistan</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="Andorra">Andorra</option>
                                    <option value="Angola">Angola</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Armenia">Armenia</option>
                                    <option value="Australia">Australia</option>
                                    <option value="Austria">Austria</option>
                                    <option value="Azerbaijan">Azerbaijan</option>
                                    <option value="Bahamas">Bahamas</option>
                                    <option value="Bahrain">Bahrain</option>
                                    <option value="Bangladesh">Bangladesh</option>
                                    <option value="Belarus">Belarus</option>
                                    <option value="Belgium">Belgium</option>
                                    <option value="Bhutan">Bhutan</option>
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                    <option value="Botswana">Botswana</option>
                                    <option value="Brazil">Brazil</option>
                                    <option value="Brunei">Brunei</option>
                                    <option value="Bulgaria">Bulgaria</option>
                                    <option value="Cambodia">Cambodia</option>
                                    <option value="Cameroon">Cameroon</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Chile">Chile</option>
                                    <option value="China">China</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Croatia">Croatia</option>
                                    <option value="Cuba">Cuba</option>
                                    <option value="Czech Republic">Czech Republic</option>
                                    <option value="Denmark">Denmark</option>
                                    <option value="Dominican Republic">Dominican Republic</option>
                                    <option value="Ecuador">Ecuador</option>
                                    <option value="Egypt">Egypt</option>
                                    <option value="Estonia">Estonia</option>
                                    <option value="Ethiopia">Ethiopia</option>
                                    <option value="Finland">Finland</option>
                                    <option value="France">France</option>
                                    <option value="Germany">Germany</option>
                                    <option value="Ghana">Ghana</option>
                                    <option value="Greece">Greece</option>
                                    <option value="Guatemala">Guatemala</option>
                                    <option value="Honduras">Honduras</option>
                                    <option value="Hungary">Hungary</option>
                                    <option value="Iceland">Iceland</option>
                                    <option value="India" selected>India</option>
                                    <option value="Indonesia">Indonesia</option>
                                    <option value="Iran">Iran</option>
                                    <option value="Iraq">Iraq</option>
                                    <option value="Ireland">Ireland</option>
                                    <option value="Israel">Israel</option>
                                    <option value="Italy">Italy</option>
                                    <option value="Jamaica">Jamaica</option>
                                    <option value="Japan">Japan</option>
                                    <option value="Jordan">Jordan</option>
                                    <option value="Kazakhstan">Kazakhstan</option>
                                    <option value="Kenya">Kenya</option>
                                    <option value="Kuwait">Kuwait</option>
                                    <option value="Laos">Laos</option>
                                    <option value="Latvia">Latvia</option>
                                    <option value="Lebanon">Lebanon</option>
                                    <option value="Liberia">Liberia</option>
                                    <option value="Lithuania">Lithuania</option>
                                    <option value="Luxembourg">Luxembourg</option>
                                    <option value="Malaysia">Malaysia</option>
                                    <option value="Maldives">Maldives</option>
                                    <option value="Mexico">Mexico</option>
                                    <option value="Monaco">Monaco</option>
                                    <option value="Mongolia">Mongolia</option>
                                    <option value="Morocco">Morocco</option>
                                    <option value="Nepal">Nepal</option>
                                    <option value="Netherlands">Netherlands</option>
                                    <option value="New Zealand">New Zealand</option>
                                    <option value="Nigeria">Nigeria</option>
                                    <option value="North Korea">North Korea</option>
                                    <option value="Norway">Norway</option>
                                    <option value="Oman">Oman</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Panama">Panama</option>
                                    <option value="Peru">Peru</option>
                                    <option value="Philippines">Philippines</option>
                                    <option value="Poland">Poland</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Qatar">Qatar</option>
                                    <option value="Romania">Romania</option>
                                    <option value="Russia">Russia</option>
                                    <option value="Saudi Arabia">Saudi Arabia</option>
                                    <option value="Serbia">Serbia</option>
                                    <option value="Singapore">Singapore</option>
                                    <option value="Slovakia">Slovakia</option>
                                    <option value="Slovenia">Slovenia</option>
                                    <option value="South Africa">South Africa</option>
                                    <option value="South Korea">South Korea</option>
                                    <option value="Spain">Spain</option>
                                    <option value="Sri Lanka">Sri Lanka</option>
                                    <option value="Sudan">Sudan</option>
                                    <option value="Sweden">Sweden</option>
                                    <option value="Switzerland">Switzerland</option>
                                    <option value="Syria">Syria</option>
                                    <option value="Taiwan">Taiwan</option>
                                    <option value="Tanzania">Tanzania</option>
                                    <option value="Thailand">Thailand</option>
                                    <option value="Tunisia">Tunisia</option>
                                    <option value="Turkey">Turkey</option>
                                    <option value="Uganda">Uganda</option>
                                    <option value="Ukraine">Ukraine</option>
                                    <option value="United Arab Emirates">United Arab Emirates</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                    <option value="United States">United States</option>
                                    <option value="Uruguay">Uruguay</option>
                                    <option value="Uzbekistan">Uzbekistan</option>
                                    <option value="Venezuela">Venezuela</option>
                                    <option value="Vietnam">Vietnam</option>
                                    <option value="Yemen">Yemen</option>
                                    <option value="Zambia">Zambia</option>
                                    <option value="Zimbabwe">Zimbabwe</option>
                                  </select>
                                
                            </div>
                            <div class="inpe-2">
                                <div class="s3-loca-s2 s3-tp-bor">
                                    <label class="lable1">Flat,house,etc.(if applicable)</label>
                                    <span class="lo-span"><i class="ri-error-warning-line"></i></span>
                                    <input type="text"  name="flatHouse" >
                                </div>
                                 
                                <div class="s3-loca-s2">
                                    <label class="lable1">neaeby landmark (if applicable)</label>
                                    <span class="lo-span"><i class="ri-error-warning-line"></i></span>
                                    <input type="text"  name="neaebyLandmark">
                                </div>
                                <div class="s3-loca-s2" id="street">
                                    <label class="lable1">Street address</label>
                                    <span class="lo-span" id="span1"><i class="ri-error-warning-line"></i></span>
                                    <input type="text" id="Street addres" name="streetAddress">
                                </div>
                                <div class="s3-loca-s2" id="state">
                                    <label class="lable1">State/union territory</label>
                                    <span class="lo-span" id="span4"><i class="ri-error-warning-line"></i></span>
                                    <input type="text" id="State/union territory" name="StateUnionTerritory">
                                </div>
                                <div class="s3-loca-s2" id="district">
                                    <label class="lable1">District/locality</label>
                                    <span class="lo-span" id="span2"><i class="ri-error-warning-line"></i></span>
                                    <input type="text" id="District/locality" name="DistrictLocality">
                                </div>
                                 <div class="s3-loca-s2" id="city">
                                    <label class="lable1">City/town</label>
                                    <span class="lo-span" id="span3"><i class="ri-error-warning-line"></i></span>
                                    <input type="text" id="City/town" name="CityTown">
                                </div>
                               
                                 <div class="s3-loca-s2 s3-bt-bor  " id="pinCode">
                                    <label class="lable1">PIN code</label>
                                    <span class="lo-span" id="span5"><i class="ri-error-warning-line"></i></span>
                                    <input type="number" id="pin code" name="pinCode">
                                </div>
                            </div>
                           </div>
                          
                        </form>
                        <div class="velidetion-err-msg-box">
                          <div class="lip">poiuyt</div>
                           <p class="err-msg"></p>
                        </div>
                        
                    </div>
                </div>
            </main>
            <%- include('stepFooter.ejs') %>
            <script src="/step4Animetion.js"></script>
    </body>