<%- include('../header/header.ejs') %>
<body>
    <%- include('createNav.ejs') %>
   <main class="m-nono st-2-m">
    <div class="s-flex-2">
        <div class="s2-main">
            <h1>Which of these best describes your place?</h1>
            <div class="s-grid">
                <!-- <div class="s-grid-boxs">
                    <div class="s-icon">
                        <div class="s2-img">
                            <img src="https://media-hosting.imagekit.io/5db01f53fd6a4336/WhatsApp%20Image%202025-04-19%20at%2018.42.25_55362321.jpg?Expires=1839691225&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=BM8S4MUuvph6BCDvTFg5DhZwQgIbgSgw-OGslQW6rYfTEc3CoZsSh3duglJ95OJUdoZoJ4bN1Q0ztTr3jJhNLv7BITrwS27iGpefWmvC6FIceNTYpkGK-g1lOUNDQC9HnhapsgVEcbqOAYOgfuVGCqcLdEkGGff2uOqp~oE6~dfliHBi2uNCDZyEIcs-C3e8xQCcNM71HFX5dBb~kZxpojzfz3MqnB-W0GM9E9~X1~USZ~xN8mLgDqzdO3PQ~BmGBdb3yWHcdGD-BmSCaBV1rmwCWWD9cQTEaxHdJDWD0LBJPmLLT6hL9V4mtTrhYHwo~EhUNyCQOfveuDKNZpMCvw__" alt="">
                        </div>
                        <p>House</p>
                    </div>
                    
                </div> -->
            </div>
        </div>
    </div>
   </main>
   <%- include('stepFooter.ejs') %>
   <!-- <script src="js/axios.main.js"></script> -->
   <script src="/step2Animetion.js"></script>
  
</body>