<div class="loginhHading">
    <button><i class="ri-arrow-left-line"></i></button>
    <h3>Finish signing up</h3>
</div>
<form action="" class="scrollBar1">
 <div class="userNameInfoBox">
      <div class="fronLableser">
        <h3>Legal name</h3>
      </div>
      <div class="UserBox1">
        <div class="nameBox22">
        <div class="fornBox22s">
             <div class="TextBox1 br1User">
          <div class="labalBox233">
           <label class="labelUser" for="user">First name on ID</label>
         </div>
         <input class="inputBoxUser" id="user" type="text" >
         </div>
         
           <div class="fornBox22s">
             <div class="TextBox1 bttdf">
          <div class="labalBox233">
           <label class="labelUser" for="last">Last name on ID</label>
         </div>
         <input class="inputBoxUser" id="last" type="text" >
         </div>
           </div>
         <p class="ErrorMsg233">Fist name is requierd</p>
         
        </div>
          
        
        </div>
        
       <div class="infoBox-12d"> <p class="InfoMsg1">Make sure this matches the name on your government ID. If you go by another name, you can add a preferred first name.</p></div>
      </div>
    </div>
 <div class="userNameInfoBox hadngBox12ee33">
      <div class="fronLableser ">
        <h3>Date of birth</h3>
      </div>
      <div class="UserBox1">
        
         
         <div class="fornBox22s">
            <div class="TextBox1 BOX2233">
          <div class="labalBox233">
           <label class="labelUser" for="date">Date of birth</label>
         </div>
         <input class="inputBoxUser" id="date" type="url" data="date">
         
        </div>
        <p class="ErrorMsg233">Fist name is requierd</p>
         </div>
        
       <div class=""> <p class="InfoMsg1">To sign up, you need to be at least 18. Your birthday won’t be shared with other people who use Airbnb.</p></div>
      </div>
    </div>
 <div class="userNameInfoBox hadngBox12ee33">
      <div class="fronLableser ">
        <h3>Contact info</h3>
      </div>
      <div class="UserBox1">
        
         
        <div class="fornBox22s">
             <div class="TextBox1 BOX2233">
          <div class="labalBox233">
           <label class="labelUser" for="em">Email</label>
         </div>
         <input class="inputBoxUser" id="em" type="email" >
         
        </div>
         <p class="ErrorMsg233">Fist name is requierd</p>
        </div>
       
       <div class=""> <p class="InfoMsg1">We'll email you trip confirmations and receipts</p></div>
      </div>
    </div>
 <div class="userNameInfoBox hadngBox12ee33">
      <div class="fronLableser ">
        <h3>Password</h3>
      </div>
      <div class="UserBox1">
        
         
       <div class="fornBox22s">
          <div class="TextBox1 BOX2233">
          <div class="labalBox233">
           <label class="labelUser" for="pass">Password</label>
         </div>
         <input class="inputBoxUser" id="pass" type="password" >
         
        </div>
        <p class="ErrorMsg233">Fist name is requierd</p>
       </div>
        
       
    </div>

      <div class="aboutFrom">
        <p class="aboutFromPara">By selecting <span>Agree and continue,</span> I agree to Airbnb's <a href="">Terms of Service,</a>
        <a href="">Payments Terms of Service,</a>and <a href="">Nondiscrimination Policy. </a> and acknowledge the <a href="">Privacy Policy</a></p>
      </div>

      <button class="bntUserFr">Agree and continue</button>
      <div class="airbnbnInfo">
        <p>Airbnb will send you members-only deals, inspiration, marketing emails, and push notifications. You can opt out of receiving these at any time in your account settings or directly from the marketing notification.</p>
      </div>
      <div class="BoxCheck11">
        <label class="checkbox-container">
    <input type="checkbox">
    I don’t want to receive marketing messages from Airbnb.
  </label>
      </div>
</form>