<div class="loginhHading">
    <button><i class="ri-close-line"></i></button>
    <h3>Log in or sign up</h3>
</div>

<div class="mainBoxLogin">
    <div class="lg-s1">
        <h2>Welcome to Airbnb</h2>
        <form action="/loginIn" method="post" class="liginForm">
            <div class="input-login-box">
                <label class="" id="label" for="email">Email</label>
                <input type="email" id="email" name="email">

            </div>
            <p class="ErrorParaLogin"></p>
            <div class="button-login">
                <button class="LongBnt1"> 
                    <div class="yuerhye1 disNone11">
                    <div class="dot-loader ">
                     <div class="dot1"></div>
                     <div class="dot1"></div>
                     <div class="dot1"></div>
                     <div class="dot1"></div>
                   </div>
                 
                 </div>
                  Continue</button>
            </div>
        </form>
    </div>
</div>
<div class="moreOotion">
    <div class="moreline1"></div>
    <div class="morelinepara">
        <p>or</p>
    </div>
    <div class="moreline1"></div>
</div>
<div class="moreOpstionbox">
    <ul class="dfheera">
        <li class="googleLonginBox"><button>
                <div class="imgaBoxLogine">
                    <img src="https://img.icons8.com/?size=48&id=17949&format=png" alt="">
                </div>
                <div class="loginName-1">
                    <p>Continue with Google</p>
                </div>
            </button></li>
        <li class="googleLonginBox"><button>
                <div class="imgaBoxLogine">
                    <img src="https://img.icons8.com/?size=50&id=30840&format=png" alt="">
                </div>
                <div class="loginName-1">
                    <p>Continue with Apple</p>
                </div>
            </button></li>
        <li class="googleLonginBox"><button>
                <div class="imgaBoxLogine">
                    <img src="https://img.icons8.com/?size=48&id=uLWV5A9vXIPu&format=png" alt="">
                </div>
                <div class="loginName-1">
                    <p>Continue with Facebook</p>
                </div>
            </button></li>
    </ul>
</div>
