@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Underdog&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    
    background-color: #ffffff;
}

nav{
    font-family: "Poppins", sans-serif;
    height: 5.3rem;
    width: 100%;
    padding: 0.4rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.161);
    /* background-color: aquamarine; */
    position: fixed;
    top: 0px;
    background-color: #ffffff;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
.nav1 {
    width: 22.5rem;
    height: 100%;
    color: #FF385C;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav1 img{
    height: 2.7rem;
    width: 2.7rem;
}

.nav2{
    background-color: rgba(255, 255, 255, 0.875);
    width: 22.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.4rem;
    padding-right: 0.6rem;
    border-radius: 3rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.116);
}
.nav-right{
   
    display: flex;
    align-items: center;
    height: 3rem;
    
}
.nav-right p{
    padding-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.16)
}
.nav-cnter{ 
    
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    height: 3rem;
   
}
.nav-cnter p{
    padding-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.16)
}
.nav-left{
    display: flex;
    align-items: center;
    height: 3rem;
    /* background-color: #ff3838; */
   
}
.nav-left p{
    padding-left: 1rem;
    color: rgba(0, 0, 0, 0.389);
    font-weight: 500;
}
.nav-left i{
    background-color: #FF385C;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: #FFFFFF;
    margin-left: 0.6rem;
}
.nav3{
    width: 22.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-listing{
    margin-left: 3.8rem;
    font-size: 0.9rem;
    font-weight: 500;
    /* background-color: #FF385C; */
    padding: 0.7rem 0.7rem;
    border-radius: 4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.nav-listing:hover{
    background-color:#E0E0E0;
}
.nav-lag{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}
.nav-lag:hover{
    background-color:#E0E0E0;
}
.nav-loginBox{
    height: 3rem;
    width: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #FF385C; */
    /* padding: 0px 1rem; */
    padding-left: 0.9rem;
    padding-right: 0.5rem;
    border-radius: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.116);
}
.nav-loginBox i{
    font-size: 1.2rem;
}
.login-img{
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
}
.login-img img{
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
}
/* filter */
.main-1{
    position: fixed;
    top: 13.2%;
    background-color: #FFFFFF;
    height: 4.6rem;
    width: 100%;
    padding: 0px 2rem;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.161);
  /* gap: 2rem; */
  justify-content: space-between;
    align-items: center;
}
.filter{
    height: 5rem;
    width: 70%;
    margin-top: 0.9rem;
    display: flex;
    justify-content: space-between;
  /* gap: 2rem; */
    align-items: center;

}
.filter-box{
    height: 70%;
    display: inline-block;
    text-align: center;

}
.filter-box img{
    height: 24px;
}
a{
    text-decoration: none;
    color: black;
}
.filter-box p{
    font-size: 0.7rem;
    font-weight: 500;
    text-size-adjust: 10x;
}
.box-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.next-btn{
    height: 100%;
    width: 2.6rem;
    background-color: #ffffffad;
    display: flex;
    align-items: center;
}
.b-n-t{
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.318);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-left: 0.4rem;
    /* margin-bottom: 0.8rem; */
}
.fil-box{
    height: 3rem;
    width: 6.4rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.318);
}
.fil-box i{
    font-size: 1rem;
}
.fil-box p{
    font-size: 0.9rem;
    font-weight: 500;
}
.text-box{
    height: 3rem;
    width: 12.5rem;
    padding: 0px 0.5rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.318);
    display: flex;
    align-items: center;
}
.text-box p{
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 0.5rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* ON state */
  .switch input:checked + .slider {
    background-color: black;

  }
  
  .switch input:checked + .slider::before {
    transform: translateX(15px);
  }
  