.photoMain{
    height: 77%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    /* background: aqua; */
}

.photoDivBox{
    height: 90%;
    width: 33%;
           font-family: "Cal Sans", sans-serif;
    /* background-color: rgba(0, 0, 255, 0.24); */
}

.hadingBoxph h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: #222222;
     opacity: 0;
    animation: riseFade 0.7s ease-in-out forwards;
    animation-delay: 0.2s;
}

.hadingBoxph p{
     font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.3rem 0rem;
    color: #6A6A6A;
        opacity: 0;
    animation: riseFade 0.7s ease-in-out forwards;
    animation-delay: 0.4s;
}

.parcollo{
    color: #D97706 !important;
}

.mainphotoDiv{
    height: 70%;
    width: 95%;
    margin-top: 1.8rem;
    border: 1px dotted #706f6fba;
   border-radius: 0.5rem;
        opacity: 0;
    animation: riseFade 0.7s ease-in-out forwards;
    animation-delay: 0.6s;
}

.photoImage{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    /* background-color: aqua; */
}

.mainphotoDivBlack{
    background-color: #dfdfdfb3;
     border: 2px solid #272727ba !important;
}

.image22{
     display: flex;
    align-items: center;
    justify-content: center;
   width: 100%;
    /* background-color: blueviolet; */
}
.image22 img{
    height: 50%;
    width: 20%;
}

.textpjj{
    display: flex;
    height: 40%;
    width: 100%;
    /* background: aqua; */
    flex-direction: column;
    justify-content: space-between;
}

.mainphotoDiv h6{
 font-size: 1rem;
         font-family: "Cal Sans", sans-serif;
 font-weight: 500;
 color: #222222;
 text-align: center;
}
.mainphotoDiv p{
    font-family: "Cal Sans", sans-serif;
 font-size: 0.8rem;
 font-weight: 500;
 color: #6A6A6A;
 padding: 0.3rem;
 text-align: center;
}
.mainphotoDiv h5{
    font-family: "Cal Sans", sans-serif;
 font-size: 0.9rem;
 font-weight: 600;
 color: #222222bf;
 padding: 0.3rem;
text-decoration: underline;
 text-align: center;
}

.mainphotoDiv h5:hover{
color: #000000;
cursor: pointer;
}

.loderBox2rr{
    height: 3rem;
    /* width: 10rem; */
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.lofingInapee{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.lofingInapee p{
      font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #222222;
}

.lodingcont{
    padding: 1.3rem 0rem;
}


.loader {
            width: 10px;
            aspect-ratio: 1;
            position: relative;
        }
        .loader{
          color: red !important;
        }
        .loader::before,
        .loader::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 50%;
        }
        .loader::before {
            background: black;
            box-shadow: 16px 0 0 0 black;
            animation: l8-1 1.3s infinite ease-in-out;
            z-index: 2;
        }
        .loader::after {
            background: black;
            transform: rotate(0deg) translateX(-10px);
            animation: l8-2 1.3s infinite ease-in-out;
            z-index: 1;
        }
        @keyframes l8-1 {
            0% { 
                transform: translateX(0px);
            }
            77% { 
                transform: translateX(-16px);
            }
            100% { 
                transform: translateX(-16px);
            }
        }
        @keyframes l8-2 {
            0% { 
                transform: rotate(0deg) translateX(-16px);
            }
            77% { 
                transform: rotate(180deg) translateX(-16px);
            }
            100% { 
                transform: rotate(180deg) translateX(-16px);
            }
        }