.s-5main{
    height: 73%;
    font-family: "Poppins", sans-serif;
}
.st-5-main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.s5-ctn{
    height: 95%;
    width: 40%;
    /* background-color: rgba(0, 0, 255, 0.616); */
}

.st-5hading{
    height: 3rem;
    width: 100%;
    /* background-color: chocolate; */
}
.st-5hading h1{
    font-size: 1.6rem;
    font-weight: 500;
    color: #222222;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0rem;
    padding-top: 0;
    opacity: 0;
    animation: riseFade 1s ease-in-out forwards;
}

.s5-form{
    width: 100%;
    height: 100%;
}

.s5-form h3{
    font-size: 1rem;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    opacity: 0;
    animation: riseFade 1s ease-in-out forwards;
    animation-delay: 0.2s;
}
.s5-gust-box{
    height: 4.5rem;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #2222220a;
    opacity: 0;
    animation: riseFade 1s ease-in-out forwards;
    animation-delay: 0.4s;
    /* background-color: rgba(255, 123, 0, 0.61); */
}
.s5-gust-name{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    
    /* background-color: rgba(137, 43, 226, 0.596); */
}
.s5-gust-name p{
    font-size: 1rem;
    font-weight: 400;
    color: #222222;
}
.s5-gust-num{
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkgoldenrod; */
}

.s5-gust-plas{
    height: 2.1rem;
    width: 2.1rem;
    /* background-color: brown; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #2222226b;

}
.s5-gust-plas i{
    font-size: 1.3rem;
    font-weight: 100;
    color: #222222b0;
}
.s5-gust-totel{
    height: 2.3rem;
    width: 2.3rem;
    /* background-color: brown; */
    border-radius: 50%;
    /* z-index: 3; */
}
.s5-gust-totel input{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #222222;
    text-align: center;
    /* padding: 0.5rem 0.5rem; */
    
}

.input-cover{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    bottom: 37px;
    z-index: 1;
    background-color: rgba(74, 230, 230, 0);
}
.s5-gust-mines{
    height: 2.1rem;
    width: 2.1rem;
    /* background-color: brown; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #2222226b;;
}
.s5-gust-mines i{
    font-size: 1.3rem;
    font-weight: 100;
    color: #222222b0;
}
.h-po-w{
    animation-delay: 0.8s;
}
.gp-e-w{
    animation-delay: 0.6s;
}
.s5-fr-p{
    opacity: 0;
    animation: riseFade 1s ease-in-out forwards !important;
    animation-delay: 0.9s !important;
}
.rs5-r1{
    opacity: 0;
    animation: riseFade 1s ease-in-out forwards;
    animation-delay: 1.2s;
}
.rs5-r2{
    opacity: 0;
    animation: riseFade 1s ease-in-out forwards;
    animation-delay: 1.4s;
  
}

.radio-group{
    height: 2rem;
    width: 5rem;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}
.s5-bnt1 label{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    color: #222222;
}
.s5-bnt1 input[type="radio"]{
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

}
.s5-bnt1 input[type="radio"]:checked{
    background-color: #000;

}
.s5-bnt1 input[type="radio"]:checked::before{
   
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;

}