.s-6-uie{
    margin-top: 3rem;
}
.wewe-3{
    height: 70%;
    width: 46%;
}
.s6-1p{
    font-size: 1rem !important;
    font-weight: 500 !important;
}
.s6-2p{
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    color: #2222228c !important;
}

.n-we{
    width: 80%;
}