.s7-main{
    /* background-color:aqua; */
    /* font-family: "Roboto", sans-serif; */
}
.s7-hading{
    padding-bottom: 0.3rem !important;
}
.s7uu-h{
    /* background-color: rgba(137, 43, 226, 0.637); */
    height: 85% !important;
}
.s7-grid{
    /* background-color: rgba(210, 105, 30, 0.651); */
    grid-template-rows: repeat(2 , 83px);
    padding-top: 1.7rem;
    height: 58% !important;
}
.s7-para{
    font-size: 14px;
    font-weight: 400;
    color: #222222b8;
    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 0.6s ease forwards;
    animation-delay: 0.4s;
}

.s7-last{
    font-size: 14px;
    font-weight: 400;
    color: #222222b8;
    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 0.6s ease forwards;
    animation-delay: 1s;
}