<nav>
    <div class="main-nav showNav">
        <div class="nav1"><img src="https://img.icons8.com/?size=256&id=103424&format=png" alt="logo">
            <h3>airbnb</h3>
        </div>
        <div class="nav2">
            <div class="nav-right"><p>Anywhere</p></div>
            <div class="nav-cnter">
              <p>Any week</p>
            </div>
            <div class="nav-left"><p>Add guests</p> <i class="ri-search-line"></i></div>
        </div>
        <div class="nav3">
            <a href="/listing/new"><div class="nav-listing"><p>Airbnb your home</a></p></div></a>
            <div class="nav-lag"><i class="ri-global-line"></i></div>
            <div class="nav-loginBox">
                <i class="ri-menu-line"></i>
                <div class="login-img">
                    <img src="https://i.pinimg.com/736x/ee/c5/cf/eec5cf10cb80af4e4b1c6674445be559.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</nav>