<nav>
    <div class="main-nav showNav">
        <div class="nav1"><img src="https://img.icons8.com/?size=256&id=103424&format=png" alt="logo">
            <h3>airbnb</h3>
        </div>
        <div class="nav2">
            <div class="nav-right"><p>Anywhere</p></div>
            <div class="nav-cnter">
              <p>Any week</p>
            </div>
            <div class="nav-left"><p>Add guests</p> <i class="ri-search-line"></i></div>
        </div>
        <div class="nav3">
            <a href="/listing/host/home"><div class="nav-listing"><p>Airbnb your home</a></p></div></a>
            <div class="nav-lag"><i class="ri-global-line"></i></div>
            <div class="nav-loginBox">
                <i class="ri-menu-line"></i>
                <div class="login-img">
                    <img src="https://i.pinimg.com/736x/ee/c5/cf/eec5cf10cb80af4e4b1c6674445be559.jpg" alt="">
                </div>
            </div>
        </div>
       
    </div>
  
</nav>
<div class="loginBox-nav">
    <div class="singinBoxs1">
        <ul class="loing-ul">
            <li class="log-in-box"><a href="" class="Longi-122">Log in</a></li>
            <li class="log-in-box grtte2"><a href="" >Sing up</a></li>
            
        </ul>
    </div>
    <div class="singinBoxs2">
        <ul class="loing-ul">
            <li class="log-in-box3 vgh"><a href="">Airbnb your home</a></li>
            <li class="log-in-box4 vgh"><a href="" >Host an experience</a></li>
            <li class="log-in-box5 vgh"><a href="" >Help center</a></li>
            
        </ul>
    </div>

    </div>

