<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
    <link rel="shortcut icon" href="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-Favicons/original/0d189acb-3f82-4b2c-b95f-ad1d6a803d13.png?im_w=240" type="image/x-icon">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="listing.css">
    <link rel="stylesheet" href="loding.css">
    <link rel="stylesheet" href="showNav.css">
    <link rel="stylesheet" href="/create.css">
    <link rel="stylesheet" href="/become-a-host.css">
    <link rel="stylesheet" href="/step1.css">
    <link rel="stylesheet" href="/step2.css">
    <link rel="stylesheet" href="/step3.css">
    <link rel="stylesheet" href="/step4.css">
    <link rel="stylesheet" href="/step5.css">
    <link rel="stylesheet" href="/step6.css">
    <link rel="stylesheet" href="/step7.css">
    <link rel="stylesheet" href="/step9.css">
    <link rel="stylesheet" href="/step10.css">
    <link rel="stylesheet" href="/step12.css">
    <link rel="stylesheet" href="/step15.css">
    <link rel="stylesheet" href="/step16.css">
    <link rel="stylesheet" href="/step17.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.5/themes/odometer-theme-default.css" integrity="sha512-kMPqFnKueEwgQFzXLEEl671aHhQqrZLS5IP3HzqdfozaST/EgU+/wkM07JCmXFAt9GO810I//8DBonsJUzGQsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
