<%- include('../header/header.ejs') %>
<body>
    <form action="/6812403228e8d58a3b68d0c5/review" method="post">
        <input type="range" min="1" max="5" name="review[rating]">
        <textarea name="review[comment]" id="" rows="4" cols="7"></textarea>
        <button>Addd</button>
    </form>
</body>