<%- include('../header/header.ejs') %>
<body>
 <main class="showmainddf">
    <div class="showNav">
        <%- include('../listing/nav.ejs') %>
       </div>
       <div class="listingBox">
        <div class="hotel-hading ">
           <div class="herae loding"><h2 id="h2"></h2> </div>
            <div class="shar-box">
              <a href="">
                <div class="shar-box1">
                    <i class="ri-share-2-line"></i>
                    <p>Share</p>
                </div>
              </a>
           <a href="">
            <div class="shar-box1">
                <i class="ri-heart-3-line"></i>
                <p>Save</p>
            </div>
           </a>
            </div>
        </div>
        <div class="hotel-image">
            <div class="mainImage loding">
                <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="">
            </div>
            <div class="mainImage2">
                <div class="imagebox1">
                    <div class="image-boxs1 loding">
                        <img src="https://images.unsplash.com/photo-1689729738920-edea97589328?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3ddD" >
                    </div>
                    <div class="image-boxs1 cc loding">
                        <img class="cc" src="https://images.unsplash.com/photo-1582533401888-825fb21aedf1?q=80&w=1512&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                   
                </div>
                <div class="imagebox1">
                    <div class="image-boxs1 loding">
                        <img src="https://images.unsplash.com/photo-1582533401893-cf3acb4680e8?q=80&w=1542&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="image-boxs1 ff loding">
                        <img class="ff" src="https://images.unsplash.com/photo-1507652313519-d4e9174996dd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="info-price">
           <h3 class="ehrh loding"></h3>
            <p class="uieri loding"></p>
            <div class="reting-box loding">
                <i class="ri-star-fill none erere" ></i>
                <p class="uyer"></p>
                <a href=""></a>
            </div>
    
          
        </div>
        <div class="hostingBy">
                <div class="hostsImage">
                    <img src="https://i.pinimg.com/736x/ad/dd/b7/adddb781d35dfd9a7d9deac5e3a4a069.jpg" alt="">
                </div>
                <div class="hostnsamefff">
                    <p class="hostNmare">Hosted by Sanket</p>
                    <p class="yearofhosthing">4 years hosting</p>
                </div>
        </div>


        <div class="whatofferaplace">
            <ul>
                <li class="erersxxx">
                    <div class="whfhdjf1">
                        <div class="imageBoxddd">
                            <img src="https://media-hosting.imagekit.io/16b8640de68a4e37/WhatsApp_Image_2025-04-23_at_19.11.19_00b0563a-removebg-preview.png?Expires=1840033055&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=tnu3~tQ-wHTSRmyxWYk1a-O9Sbw7~la~ODHJsvmjEQjWIgIwIFwDSeT7WbHGfZ84R4vMUbIsSp~PW1NNL5ZxWyjfdW-7OeTetfYuhHPWlpAr5aWtd0hfQ3YBVg~6zSuLpHvSfjrsRJmlOB9TWjJMw99518ix4~o9ihoygZqxNeyAsGYZHwGoKKQIwlkYXuQXQtZGQ4kWo6p8HHyQO~1WQO0AFkBGFj3t3AlXGl10uZabq7Mj7PYcJKKnMho5MYGJQw0C9VePpO~WTsR8mEyHHWdaZ4D-lHxStVNBT8Z5OMnrpBUr6hmbpKg8-TTFkrVcYrnZRvf2AKmIHpdzc4EiNg__" alt="">
                        </div>
                        <div class="hadifhdf">
                            <p class="hostNmare">Dive right in</p>
                            <p class="yearofhosthing">This is one of the few places in the area with a pool.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="erersxxx">
                    <div class="whfhdjf1">
                        <div class="imageBoxddd">
                            <img src="https://media-hosting.imagekit.io/4573627e74c0407a/WhatsApp%20Image%202025-04-20%20at%2016.28.40_4abb95f4.jpg?Expires=1839760284&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=u9SHr5TCHjbonUG-YiSmYzvVh1AQR6KzL0IBYDqNN94U6vSwetGPkZCobASzFYMu~zxLqWg-LDH9srlRTvGnNyRSn8jfOviaOWFcpgbRihFmNsgL~suIZZ-K91R~jGt~-egWdxZQdn7TgdMA4TqwN6C4IXT3WXpV4w0uR~h2Kf2Djqzb~MhQp5ScMloREtwGpCufsJ7aUVyTYugCEx6rmRiL8mANjDKfjsZHe48~B9J2ewq9cqwRwSt0Ecofl4wUlgTM~fO~-wUcBjMji~oz4epOF1-QS9x4MYfpzxilPKh8ThDd9omU65ctIrPqXDELcNEMb-bFVv8pv1kiCuiosg__" alt="">
                        </div>
                        <div class="hadifhdf">
                            <p class="hostNmare">Self check-in</p>
                            <p class="yearofhosthing">You can check in with the building staff.

                            </p>
                        </div>
                    </div>
                </li>
                <li class="erersxxx">
                    <div class="whfhdjf1">
                        <div class="imageBoxddd">
                            <img src="https://media-hosting.imagekit.io/85bf33c0a6184e76/WhatsApp_Image_2025-04-24_at_14.22.54_daf3419c-removebg-preview.png?Expires=1840120420&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=DGs-Sx9l~Y391HCyOhcVSbTHsvthysbVS5mDSTt8ssnepG6UbUrqf370paQaLYGWz4sgD8-bm7TbYM1exIi3YoMvzF5oBUcGQyAUcUSvQMAQNfh2hf~TmDFEkB-fuvax-qT9JnIpF8L5Co1EiNAa8ybkjjvyFkoXZveETmf1X0~XEsBkjfuPOD-MKy1uuhv0f9sVqaXVYi2mXagjkunSJXjK7obvJiO4RwCU1kymHzil~OQ7r6llFHvREKY8asvqp257YpWDtPJxJVilZ3-9iZ8ei6jU0aoAPusucOv1d78Am82XC8W4aXrU~CFERGiTwW4qz2dEva-UM9IuQEdiyg__" alt="">
                        </div>
                        <div class="hadifhdf">
                            <p class="hostNmare">Unbeatable location</p>
                            <p class="yearofhosthing">100% of guests in the past year gave this location a 5-star rating.
                            </p>
                        </div>
                    </div>
                </li>
               
            </ul>
        </div>
        <div class="yeufhjhdas">
            <div class="aboutthelace">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed earum enim inventore in placeat maiores, cumque et, ullam, consequuntur cum corporis animi voluptatum vitae exercitationem at hic magni autem? Commodi dicta nostrum similique reprehenderit enim tenetur ex, voluptate unde temporibus, reiciendis atque. Nesciunt repudiandae explicabo corrupti earum mollitia commodi suscipit.</p>
            </div>
           <div class="showfffafa">
            <p class="sghowmore">Show more </p><span class="showIcon111"><i class="ri-arrow-right-s-line"></i></span>
           </div>
        </div>
        <div class="imagesBoxListing">
            <div class="imagesListingHading">
                <h3>Where you'll sleep</h3>
            </div>

            <div class="listingInageBoxss">
                <div class="listingBoxs1">
                    <div class="imagesssslistin">
                        <img src="https://images.unsplash.com/photo-1611892440504-42a792e24d32?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                          
                    <div class="imageName1">
                        <p class="tehf-1">Bedroom</p>
                        <p class="tehf-2">1 double bed</p>
                        
                    </div>
                </div>
                <div class="listingBoxs1">
                    <div class="imagesssslistin">
                        <img src="https://images.unsplash.com/photo-1566665797739-1674de7a421a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                       
                    <div class="imageName1">
                        <p class="tehf-1">Bedroom</p>
                        <p class="tehf-2">1 double bed</p>
                        
                    </div>
                </div>
                
            </div>
        </div>
       <div class="mainplaceoffbox">
        <h3 class="showHading-34">What this place offers</h3>
        <div class="whatisplaceoffeee">
            
            <div class="offerBox1">
              <div class="itemBoxplace1">
                <div class="inmgBoxincd">
                    <img src="https://media-hosting.imagekit.io/4573627e74c0407a/WhatsApp%20Image%202025-04-20%20at%2016.28.40_4abb95f4.jpg?Expires=1839760284&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=u9SHr5TCHjbonUG-YiSmYzvVh1AQR6KzL0IBYDqNN94U6vSwetGPkZCobASzFYMu~zxLqWg-LDH9srlRTvGnNyRSn8jfOviaOWFcpgbRihFmNsgL~suIZZ-K91R~jGt~-egWdxZQdn7TgdMA4TqwN6C4IXT3WXpV4w0uR~h2Kf2Djqzb~MhQp5ScMloREtwGpCufsJ7aUVyTYugCEx6rmRiL8mANjDKfjsZHe48~B9J2ewq9cqwRwSt0Ecofl4wUlgTM~fO~-wUcBjMji~oz4epOF1-QS9x4MYfpzxilPKh8ThDd9omU65ctIrPqXDELcNEMb-bFVv8pv1kiCuiosg__" alt="">
                </div>
                <div class="ararttt">
                    <p>Garden view</p>
                </div>
              </div>
              <div class="itemBoxplace1">
                <div class="inmgBoxincd">
                    <img src="https://media-hosting.imagekit.io/4573627e74c0407a/WhatsApp%20Image%202025-04-20%20at%2016.28.40_4abb95f4.jpg?Expires=1839760284&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=u9SHr5TCHjbonUG-YiSmYzvVh1AQR6KzL0IBYDqNN94U6vSwetGPkZCobASzFYMu~zxLqWg-LDH9srlRTvGnNyRSn8jfOviaOWFcpgbRihFmNsgL~suIZZ-K91R~jGt~-egWdxZQdn7TgdMA4TqwN6C4IXT3WXpV4w0uR~h2Kf2Djqzb~MhQp5ScMloREtwGpCufsJ7aUVyTYugCEx6rmRiL8mANjDKfjsZHe48~B9J2ewq9cqwRwSt0Ecofl4wUlgTM~fO~-wUcBjMji~oz4epOF1-QS9x4MYfpzxilPKh8ThDd9omU65ctIrPqXDELcNEMb-bFVv8pv1kiCuiosg__" alt="">
                </div>
                <div class="ararttt">
                    <p>Garden view</p>
                </div>
              </div>
              <div class="itemBoxplace1">
                <div class="inmgBoxincd">
                    <img src="https://media-hosting.imagekit.io/b5572221990441e5/ChatGPT_Image_Apr_22__2025__11_58_33_AM-removebg-preview.png?Expires=1840015915&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=GYMKPtZHnzwcVCwFzEakWZahqnFvgBZBLRY37TsAZQVXblshAajjDGYHGJyYD5LdahR4igKC3RxCa0lRjTqk6kWbGYtigu1BcnS-e1ARlSIi7BUpLAwpinWezyHnGIWia6DymyLIoipUoq~de2rk95i~171~eIx9wD28SwkL1IWFHPPS-opNHvawy5geRTP5eqcaFOXew5CyVTehlUpyypUU57j0hXMQi7O5muJNwsSYgUwo5JUte1Lf42G1CumaxMoYTUBxA6cErdRTTlvuv8XytQ3mQ3MYvvFwIIyZ1R5aULVhh7hIsXykVRk5A7VT3e~ec8HLDHEnIbCgP06z9A__" alt="">
                </div>
                <div class="ararttt">
                    <p>Wi-fi</p>
                </div>
              </div>
              <div class="itemBoxplace1">
                <div class="inmgBoxincd">
                    <img src="https://media-hosting.imagekit.io/e2bd44be8c294762/WhatsApp_Image_2025-04-23_at_14.43.16_1789bcb5-removebg-preview.png?Expires=1840016459&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=FYW~2Sy9cIuQZfm0aKuF0dP5kleVbAJQwZpgmNCeNzrVeQUjyN2BJk3fIwxhzi7mB5D-cL46prmjRPVJTv-ccK2wxJdCmvmgEAijZ1VoV3cbH93uv6vPz57tFbgVnPUdmUhJ6VKAq9yqZFYdbhMr4NeLUlcg0Y7oklZSmAxgbPzNhtSZVXEcxNrKa2~i6ueGZTbiAv4oM2PKwbGX~3Pg1XgywPPrLIA~KeSemja1n1t5SCtzrJiTX8ExUkTrAz1u-1yont7sqqJhCx~jdOSGTSIqzgRo9WvDqhKoijG2cUaoaVHUzhn2PBorUL59R9B1EvFuZOLy4c1h1JihRm5aYg__" alt="">
                </div>
                <div class="ararttt">
                    <p>TV</p>
                </div>
              </div>
              <div class="itemBoxplace1">
                <div class="inmgBoxincd">
                    <img src="https://media-hosting.imagekit.io/366edc827680426d/WhatsApp_Image_2025-04-23_at_14.57.18_4ade668c-removebg-preview.png?Expires=1840016933&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=dGY1A~ytxCJGRslC~GQrDD6HbncT6yeawpzDc55339kZS7eHVTcF4HIBtotAD9CHgQxWnmamZlL69J-rQbyFeaF7QfMLhC2noFRkisAeR0YBkWkJRfIoicK~M7WW060L4GeDTrzqQmas-C9byUFWm3AJb0u7FDPWbUeMFbq-MDEBF0XFMmQxaDGfVLxt3QNvGUp4FXfBB6uQvanumrGvIxUMWuzuGhNk8RkNQOyD~JRMNCQC1xmv~S4-kt2s3dFHx1P0exX8nwHYzbEIFd1juol3ZlBKOdKHRBBtgSRLCNkHN2LuJQNpZGkkUZIbUwVrhIJdxEhG4Z3niqj5yBQEng__" alt="">
                </div>
                <div class="ararttt">
                    <p>Garden view</p>
                </div>
              </div>
            </div>
            <div class="offerBox2">
                <div class="itemBoxplace1">
                  <div class="inmgBoxincd">
                      <img src="https://media-hosting.imagekit.io/4573627e74c0407a/WhatsApp%20Image%202025-04-20%20at%2016.28.40_4abb95f4.jpg?Expires=1839760284&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=u9SHr5TCHjbonUG-YiSmYzvVh1AQR6KzL0IBYDqNN94U6vSwetGPkZCobASzFYMu~zxLqWg-LDH9srlRTvGnNyRSn8jfOviaOWFcpgbRihFmNsgL~suIZZ-K91R~jGt~-egWdxZQdn7TgdMA4TqwN6C4IXT3WXpV4w0uR~h2Kf2Djqzb~MhQp5ScMloREtwGpCufsJ7aUVyTYugCEx6rmRiL8mANjDKfjsZHe48~B9J2ewq9cqwRwSt0Ecofl4wUlgTM~fO~-wUcBjMji~oz4epOF1-QS9x4MYfpzxilPKh8ThDd9omU65ctIrPqXDELcNEMb-bFVv8pv1kiCuiosg__" alt="">
                  </div>
                  <div class="ararttt">
                      <p>Garden view</p>
                  </div>
                </div>
                <div class="itemBoxplace1">
                  <div class="inmgBoxincd">
                      <img src="https://media-hosting.imagekit.io/b5572221990441e5/ChatGPT_Image_Apr_22__2025__11_58_33_AM-removebg-preview.png?Expires=1840015915&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=GYMKPtZHnzwcVCwFzEakWZahqnFvgBZBLRY37TsAZQVXblshAajjDGYHGJyYD5LdahR4igKC3RxCa0lRjTqk6kWbGYtigu1BcnS-e1ARlSIi7BUpLAwpinWezyHnGIWia6DymyLIoipUoq~de2rk95i~171~eIx9wD28SwkL1IWFHPPS-opNHvawy5geRTP5eqcaFOXew5CyVTehlUpyypUU57j0hXMQi7O5muJNwsSYgUwo5JUte1Lf42G1CumaxMoYTUBxA6cErdRTTlvuv8XytQ3mQ3MYvvFwIIyZ1R5aULVhh7hIsXykVRk5A7VT3e~ec8HLDHEnIbCgP06z9A__" alt="">
                  </div>
                  <div class="ararttt">
                      <p>Wi-fi</p>
                  </div>
                </div>
                <div class="itemBoxplace1">
                  <div class="inmgBoxincd">
                      <img src="https://media-hosting.imagekit.io/e2bd44be8c294762/WhatsApp_Image_2025-04-23_at_14.43.16_1789bcb5-removebg-preview.png?Expires=1840016459&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=FYW~2Sy9cIuQZfm0aKuF0dP5kleVbAJQwZpgmNCeNzrVeQUjyN2BJk3fIwxhzi7mB5D-cL46prmjRPVJTv-ccK2wxJdCmvmgEAijZ1VoV3cbH93uv6vPz57tFbgVnPUdmUhJ6VKAq9yqZFYdbhMr4NeLUlcg0Y7oklZSmAxgbPzNhtSZVXEcxNrKa2~i6ueGZTbiAv4oM2PKwbGX~3Pg1XgywPPrLIA~KeSemja1n1t5SCtzrJiTX8ExUkTrAz1u-1yont7sqqJhCx~jdOSGTSIqzgRo9WvDqhKoijG2cUaoaVHUzhn2PBorUL59R9B1EvFuZOLy4c1h1JihRm5aYg__" alt="">
                  </div>
                  <div class="ararttt">
                      <p>TV</p>
                  </div>
                </div>
                <div class="itemBoxplace1">
                  <div class="inmgBoxincd">
                      <img src="https://media-hosting.imagekit.io/366edc827680426d/WhatsApp_Image_2025-04-23_at_14.57.18_4ade668c-removebg-preview.png?Expires=1840016933&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=dGY1A~ytxCJGRslC~GQrDD6HbncT6yeawpzDc55339kZS7eHVTcF4HIBtotAD9CHgQxWnmamZlL69J-rQbyFeaF7QfMLhC2noFRkisAeR0YBkWkJRfIoicK~M7WW060L4GeDTrzqQmas-C9byUFWm3AJb0u7FDPWbUeMFbq-MDEBF0XFMmQxaDGfVLxt3QNvGUp4FXfBB6uQvanumrGvIxUMWuzuGhNk8RkNQOyD~JRMNCQC1xmv~S4-kt2s3dFHx1P0exX8nwHYzbEIFd1juol3ZlBKOdKHRBBtgSRLCNkHN2LuJQNpZGkkUZIbUwVrhIJdxEhG4Z3niqj5yBQEng__" alt="">
                  </div>
                  <div class="ararttt">
                      <p>Garden view</p>
                  </div>
                </div>
                <div class="itemBoxplace1">
                  <div class="inmgBoxincd">
                      <img src="https://media-hosting.imagekit.io/366edc827680426d/WhatsApp_Image_2025-04-23_at_14.57.18_4ade668c-removebg-preview.png?Expires=1840016933&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=dGY1A~ytxCJGRslC~GQrDD6HbncT6yeawpzDc55339kZS7eHVTcF4HIBtotAD9CHgQxWnmamZlL69J-rQbyFeaF7QfMLhC2noFRkisAeR0YBkWkJRfIoicK~M7WW060L4GeDTrzqQmas-C9byUFWm3AJb0u7FDPWbUeMFbq-MDEBF0XFMmQxaDGfVLxt3QNvGUp4FXfBB6uQvanumrGvIxUMWuzuGhNk8RkNQOyD~JRMNCQC1xmv~S4-kt2s3dFHx1P0exX8nwHYzbEIFd1juol3ZlBKOdKHRBBtgSRLCNkHN2LuJQNpZGkkUZIbUwVrhIJdxEhG4Z3niqj5yBQEng__" alt="">
                  </div>
                  <div class="ararttt">
                      <p>Garden view</p>
                  </div>
                </div>
              </div>
          
      </div>
      <div class="ShowAllAfff">
        <p>Show all 36 amenities</p>
      </div>
       </div>
       </div>


 </main>
 <div class="login-popopu">
    <div class="loginPopupBox">

        <!-- <div class="yuerhye1">
           <div class="dot-loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        
        </div> -->
         

    </div>
  </div>
   <script src="/Show.js"></script>
</body>